<div>
	<div style="float:left; width:300px">

		<p>
			<%= get_image_tag_from_item_id(issue.item_id) %>
		</p>
	</div>
</div>
<div style="float:left; width:200px">
	<p>
		Item: <%= link_to h(get_item_description_from_id( issue.item_id ) ) , item_path( issue.item_id ) %>
	</p>

	<p>
		Issue: <%= link_to (h issue.description), item_issue_path( issue.item.id, issue.id )%>
	</p>

	<p>
		Created at: <%= h issue.created_at.strftime('%m/%d/%Y') %>
	</p>
</div>
<div style="clear: both;"> </div>