<h2>In Calibration Report</h2>
<%= "Printed on #{Date.today}" %>
<br/>
&nbsp
<%= render :partial => "group", :locals => { :aGroup => @in_cal, :show_hide => 0, :aToken => 'print' }, :layout => false %>

