<h3>Showing all Issues (Latest issues first)</h3>

<div class="digg_pagination">
    <%= will_paginate @issues, :container => false %>
</div>

<p/>

<% if @issues.any? %>
	
		<% @issues.each_with_index do | issue, index |%>

  			<%= render partial: 'issues', :locals => { issue: issue } %>	
			<hr />
		<% end %>
<% else %>
	<p>no Issues to Show</p>
<% end %>

<p/>

<div class="digg_pagination">
    <%= will_paginate @issues, :container => false %>
</div>
