<h3>Showing all Events (Latest events first)</h3>

<div class="digg_pagination">
    <%= will_paginate @events, :container => false %>
</div>

<p/>

	<% @events.each_with_index do |event, index | %>

			<%= render partial: "events", locals: {event: event }%>

	<% end %>

<p/>

<div class="digg_pagination">
    <%= will_paginate @events, :container => false %>
</div>

