<h3>Showing all Issues (Latest issues first)</h3>

<div class="digg_pagination">
    <%= will_paginate @issues, :container => false %>
</div>

<p/>

<% if @issues.any? %>
	<table border="1" bordercolor="gray">

		<tr>
	
		<% @issues.each_with_index do | issue, index |%>

		<td>
			<%= render partial: 'issues', :locals => { issue: issue } %>	
		</td>
			<% if (index + 1) % 4 == 0 %>
				</tr>
				<tr>
			<% end %>
		<% end %>
	</table>
<% else %>
	<p>no Issues to Show</p>
<% end %>

<p/>

<div class="digg_pagination">
    <%= will_paginate @issues, :container => false %>
</div>
