<li>
	Reports
	<ul>
		<li>
			<%= link_to "Due Cal Report", print_due_cal_path %>
		</li>
		<li>
			<%= link_to "In Cal Report", print_in_cal_path %>
		</li>
		<li>
			<%= link_to "Thirty days report", print_thirty_path %>
		</li>
	</ul>
</li>
