<li>
	Search
	<ul>
		<%= form_for @item, :url => { :controller => "items", :action => "search_remote", :token => 'search_remote', :remote => true } do %>
		<li>
			Description:
		</li>
		<li>
			<%= text_field_tag "description",'', :size => 5 %>
		</li>
		<li>
			Serial Number:
		</li>
		<li>
			<%= text_field_tag "sn", '',:size => 5 %>
		</li>
		<li>
			<%= submit_tag 'find' %>
		</li>
		<% end %>
	</ul>
</li>
